<div class="container">
  <div class="header">
    <span class="header-title">Обмен</span>
    <button class="change-btn" mat-mini-fab aria-label="change">
      <mat-icon style="color: #7DBD42;">sync_alt</mat-icon>
    </button>
  </div>

  <form class="form" [formGroup]="exchangeForm">
    <!--Вы отдаете-->
    <div class="form__group give">
      <label class="label first-label" for="give">Отдаете</label>
      <div class="input-container">
        <img *ngIf="selectedGiveImage" [src]="selectedGiveImage" class="input-icon" alt="Selected Give Image">
        <input class="form-input" id="give" type="text" [formControl]="exchangeForm.controls.give">
      </div>
    </div>

    <!--Вы получаете-->
    <div class="form__group receive">
      <label class="label" for="receive">Получаете</label>
      <div class="input-container">
        <img *ngIf="selectedReceiveImage" [src]="selectedReceiveImage" class="input-icon" alt="Selected Receive Image">
        <input class="form-input" id="receive" type="text" [formControl]="exchangeForm.controls.receive">
      </div>
    </div>
  </form>

  <div class="exchange-rate">
    <span class="exchange-rate__title">Курс обмена</span>
    <span class="exchange-rate__current">
  {{ currentValue?.conversion_rates?.['RUB'] ? (currentValue!.conversion_rates['RUB'].toPrecision(5) + ' RUB = 1 USD') : 'Загрузка...' }}
</span>
  </div>
</div>
