<div class="container">
  <div class="header">
    <span class="header-title">Обмен</span>
    <button class="change-btn" mat-mini-fab aria-label="change" (click)="onChangeButtonClick()">
      <mat-icon style="color: #7DBD42;">sync_alt</mat-icon>
    </button>
  </div>

  <form class="form" [formGroup]="exchangeForm">
    <!--Вы отдаете-->
    <div class="form__group give">
      <label class="label first-label" for="give">Отдаете</label>
      <div class="input-container">
        <img *ngIf="selectedGiveImage" [src]="selectedGiveImage" class="input-icon" alt="Selected Give Image">
        <input class="form-input" id="give" type="number" [formControl]="exchangeForm.controls.give">
      </div>
    </div>

    <!--Вы получаете-->
    <div class="form__group receive">
      <label class="label" for="receive">Получаете</label>
      <div class="input-container">
        <img *ngIf="selectedReceiveImage" [src]="selectedReceiveImage" class="input-icon" alt="Selected Receive Image">
        <input class="form-input" id="receive" type="number" [formControl]="exchangeForm.controls.receive">
      </div>
    </div>
  </form>

  <div class="exchange-rate">
    <span class="exchange-rate__title">Курс обмена</span>
    <span class="exchange-rate__current">
      <span *ngIf="selectedCrypto; else currencyRate">
        1 {{ (selectedCrypto.symbol) | uppercase }}
        = {{ (selectedCrypto.current_price * currentValue!.conversion_rates[exchangeService.selectedCurrency.getValue()] || 0).toPrecision(5) }}
        {{ exchangeService.selectedCurrency.getValue() }}
      </span>
      <ng-template #currencyRate>
        <span>
          {{ (1 / exchangeService.selectedCurrencyRate.getValue()).toPrecision(5) }}
          RUB = 1 {{ exchangeService.selectedCurrency.getValue() }}
        </span>
      </ng-template>
    </span>
  </div>
</div>
